# Unity-generated folders
Library/
Temp/
Logs/
obj/
.vs/
Builds/

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio files
*.csproj
*.sln
*.userprefs

# Other temporary files
*.bak
*.pidb
*.swp
*.lock
